h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Sunflower", sans-serif;
}

body {
  font-family: "Open Sans", sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #eeeeee;
  margin: 0;
  padding: 0;
}

header {
  background-color: white;
  padding: 0.625rem;
  box-shadow: 0 0 3.125rem #80008050;
}

.main {
  flex: 1;
  margin: 0.625rem;
}

img {
  vertical-align: middle;
}

.wolf {
  text-align: center;
  text-shadow: 0.125rem 0.125rem 0.3125rem #800080;
}

.tabela {
  text-align: center;
}

.tabela td,
.tabela th {
  padding: 0.625rem;
  border: 1px solid black;
}

.menuzao ul {
  padding-left: 0;
}

.link-menu {
  display: block;
  text-align: center;
  padding: 0.625rem;
  color: blue;
  text-decoration: none;
  transition-property: all;
  transition-duration: 0.2s;
  border-radius: 0.625rem;
}

.link-menu:hover {
  background-color: rgb(103, 56, 165);
  color: white;
}

footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.625rem;
  background-color: white;
  box-shadow: 0 0 3.125rem #80008050;
}

.icones-footer ul {
  list-style-type: none;
  padding: 0;
  display: flex;
  justify-content: center;
}

.icones-footer li {
  margin: 0.625rem;
}

@media (min-width: 31.25rem) {
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .menuzao li {
    display: inline-block;
  }

  .link-menu {
    display: inline-block;
  }
}
